<footer class="clearfix gradient colophon credit" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
	{{! Credit}}
	<div class="left copyright">
		&copy; 2017 <a href="{{@blog.url}}">{{@blog.title}}</a>. All Rights Reserved
	</div>

	<div class="right BiyanPasau-didthis">
		<div>
			<span>Crafted by <a href="#0">SIRN</a></span>.
		</div>
	</div>
</footer>