<nav class="nav">
	<div class="nav__wrapper">
		<svg onclick="openTag()" class="nav__hamburger-icon visible-md" width="24" height="24" fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
		  <path d="M95.3 26.3c-.4-1.6-3.8-15.7-17.3-20.9-8.2-3.2-22.5-3.6-28.3-3.6-5.8 0-20.1.5-28.3 3.6C7.4 10.8 4.2 25.7 4 26.3c-1.7 7.1-2.6 15-2.5 23.5 0 8.5.8 16.4 2.5 23.5.1.6 3.4 15.6 17.4 21 8.2 3.2 22.5 3.6 28.3 3.6 5.8 0 20.1-.5 28.3-3.6C92 88.9 95.2 74 95.3 73.4c1.7-7.1 2.6-15 2.5-23.5 0-8.6-.8-16.5-2.5-23.6zm-3.8 23.6c.1 8-.7 15.5-2.3 22.1 0 .1-2.8 12.3-13.5 16.4-5 1.9-14.8 3.1-26 3.2-11.3-.1-21-1.3-26.1-3.2C12.9 84.3 10.1 72 10.1 71.9c-1.6-6.6-2.4-14-2.3-22.1-.1-8 .7-15.5 2.3-22.1 0-.1 2.8-12.3 13.5-16.4 5-1.9 14.8-3.1 26-3.2 11.3.1 21 1.3 26.1 3.2 10.7 4.1 13.5 16.3 13.5 16.5 1.6 6.6 2.4 14 2.3 22.1z"/>
		  <path d="M30.4 35.5h38.4c1.9 0 3.4-1.5 3.4-3.4s-1.5-3.4-3.4-3.4H30.4c-1.9 0-3.4 1.5-3.4 3.4s1.6 3.4 3.4 3.4zM68.9 46.2H30.4c-1.9 0-3.4 1.5-3.4 3.4s1.5 3.4 3.4 3.4h38.4c1.9 0 3.4-1.5 3.4-3.4s-1.5-3.4-3.3-3.4zM68.9 64.2H30.4c-1.9 0-3.4 1.5-3.4 3.4s1.5 3.4 3.4 3.4h38.4c1.9 0 3.4-1.5 3.4-3.4.1-1.9-1.5-3.4-3.3-3.4z"/>
		</svg>
		<nav id="browseTags" class="label nav__off-canvas-overlay visible-md" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement" role="navigation">
			{{#get "tags" limit="all" include="count.posts" order="count.posts desc"}}
				<ul class="nav__off-canvas-content desktop-overlay-content">
					{{#foreach tags}}
					<li class="nav__off-canvas-content-link"><a href="{{@blog.url}}/tag/{{slug}}">{{name}} <small>{{count.posts}}</small></a></li>
					{{/foreach}}
				</ul>
			{{/get}}
			
			<svg class="nav__off-canvas-close" onclick="closeTag()" width="36" height="36" xmlns="http://www.w3.org/2000/svg" version="1.2" baseProfile="tiny" viewBox="0 0 100 100">
			  <path d="M80 20H20v60h60V20zM66.036 62.5L62.5 66.036 50 53.536l-12.5 12.5-3.536-3.536 12.5-12.5-12.5-12.5 3.536-3.536 12.5 12.5 12.5-12.5 3.536 3.536-12.5 12.5 12.5 12.5z"/>
			</svg>
		</nav>
		<a class="nav__logo" href="{{@blog.url}}">
			<svg width="147" height="44" viewBox="0 0 147 44" xmlns="http://www.w3.org/2000/svg">
			  <title>
			    art-of-scrap--logo
			  </title>
			  <defs>
			    <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="a">
			      <feOffset dy="2" in="SourceAlpha" result="shadowOffsetOuter1"/>
			      <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
			      <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0" in="shadowBlurOuter1" result="shadowMatrixOuter1"/>
			      <feMerge>
			        <feMergeNode in="shadowMatrixOuter1"/>
			        <feMergeNode in="SourceGraphic"/>
			      </feMerge>
			    </filter>
			  </defs>
			  <text filter="url(#a)" transform="translate(3 -1)" fill="#FFF" fill-rule="evenodd" font-family="SweetSensationsPersonalUse, Sweet Sensations Personal Use" font-size="34">
			    <tspan x=".886" y="27">Art of Scrap</tspan>
			  </text>
			</svg>
		</a>
		{{#get "tags" limit="all" include="count.posts" order="count.posts desc"}}
			<ul class="nav__links-list hidden-md">
				{{#foreach tags}}
					<li class="nav__link">
						<a href="{{@blog.url}}/tag/{{slug}}">{{name}} {{!-- <small>{{count.posts}}</small> --}}</a>
					</li>
				{{/foreach}}
			</ul>
		{{/get}}
		<a class="nav__subscribe" href="{{@blog.url}}/subscribe/">Subscribe</a>
		<div class="nav--item-search ">
			<i class="nav--link nav--open-search icon icon-search"></i>
		</div>
	</div>
</nav>

