<ul class="sidebar-inner" role="complementary" itemscope itemtype="http://schema.org/WPSideBar">
	{{! Instagram}}
	<li class="widget widget-instafeed">
		<h4 class="title"><span>Instagram</span></h4>
		<div class="widget-content clearfix" id="instafeed"></div>
	</li>


	{{! Author}}
	<li class="widget widget-author">
		<h4 class="title"><span>Crew</span></h4>
		<ul class="widget-content">
			<li class="clearfix"><img src="http://insidr.ghost.io/content/images/2015/09/casandrasherly.jpg" alt="Cassandra Sheryl"/><a href="AUTHOR-PROFILE-URL">Cassandra Sheryl</a><small class="label">Author</small></li>
			<li class="clearfix"><img src="http://insidr.ghost.io/content/images/2015/09/avatar-biyan.jpg" alt="Biyan Pasau"/><a href="AUTHOR-PROFILE-URL">Biyan Pasau</a><small class="label">Admin</small></li>
		</ul>
	</li>


	{{! Newsletter}}
	<li class="widget widget-newsletter">
		<h4 class="title"><span>Subscribe</span></h4>
		<div class="widget-content clearfix">
			<p>Get our latest article delivered to your email box</p>
			<div class="subscription-form">{{subscribe_form button_class="gh-button" input_class="gh-input" placeholder="Email address"}}</div>
		</div>
	</li>
</ul>